.team
{
    background-image: url(img/team-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.team__wrapper
{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background-color: #2C2F31;

    @include tablets {
        width: 100%;
        right: 0;
        height: 100%;
                    }

}

.team__wrapper--opacity
{
    opacity: .9;
}

.team__info
{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.accordeon__list
{
    display: flex;
    flex-flow: column;
}

.accordeon__item
{
    display: flex;
    flex-flow: column;
    margin-bottom: rem(35px);
}

.accordeon__info
{
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    height: 0;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }

}

.accordeon__info-item
{
    width: rem(360px);

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.accordeon__info-photo
{
    display: flex;
    flex-shrink: 0;
    width: rem(100px);
    height: rem(100px);
    margin-right: rem(20px);
    border-radius: 50%;
    overflow: hidden;
    border: rem(1px) solid transparent;

    @include tablets {
        margin-right: 0;
    }

}

.accordeon__info-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title--team
{
    color: #f9b43b;
}

.accordeon__title
{
    font-family: 'Gagalin-Regular';
    font-size: rem(28px);
    margin-bottom: rem(25px);

    @include tablets {
        text-align: center;
    }

}

.accordeon__link:hover
{
    cursor: pointer;
}

.accordeon__title:before
{
    content: "";
    background-image: url(img/Polygon-open.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: rem(10px);
    height: rem(10px);
    margin-right: rem(10px);
}


.accordeon__item--active .accordeon__title
{
    color: #f9b43b;
}

.accordeon__item--active .accordeon__title::before
{
    transform: rotate(180deg);
}


.accordeon__item--active .accordeon__info
{
    visibility: visible;
    opacity: 1;
    height: 100%;
    transition: height 1s;
}

.accordeon__info-text
{

    @include tablets {
        text-align: center;
    }

}

.accordeon__info-title
{
    font-weight: 700;
}